{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div ng-controller="StatisticsController">
    <div class="row">
        <div class="col-md-3 pull-right" style="margin-bottom: 20px">
            <div class="input-group input-group-sm">
                <span class="input-group-addon " id="sizing-addon3">
                    <span class="fa fa-calendar"></span>
                </span>
                <input class="form-control" type="text" id="daterange" name="daterange" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <center>
                <h4>N&uacute;mero de Ocorrências</h4>
            </center>
        </div>

        <div class="col-md-3">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{globalCounters['total']}}</h3>
                    <p>Mês: {{month}}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Registadas
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        {{globalCounters['answered']}}
                    </h3>
                    <p>Mês: {{month}}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Respondidas
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="small-box bg-gray">
                <div class="inner">
                    <h3>
                        {{globalCounters['noAnswered']}}
                    </h3>
                    <p>Mês: {{month}}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-thumbs-down"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Concluídas sem resposta
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>
                        {{globalCounters['acomp']}}
                    </h3>
                    <p>Mês: {{month}}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Em Acompanhamento
                </a>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body no-padding">
                    <div id="by_month"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="">
                </div>
                <div class="box-body no-padding">
                    <div id="by_department"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
