<div class="modal fade" id="viewComplaintModal">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header bg-green">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ '{{modalTitle}}' }}</h4>
        </div>
        <form ng-submit="respondSubmit()" name="responseForm">
        <div class="modal-body">
            <h3 class="box-title" style="font-weight:bold">
                <span ng-if="entity.type == 'queixa'">Queixa</span>
                <span ng-if="entity.type == 'denuncia'">Den&uacute;ncia</span>

                <a href="#">
                {{ '{{entity.objCode}}' }}
                </a>
            </h3>
            <p style="font-size:12px;color:gray">
                <span class="fa fa-user"></span>
                Criada por {{'{{entity.createByName}}'}}/{{'{{entity.createByEnt}}'}}
            </p>

            {# <a href="#">{{ '{{mObject.code}}' }}</a> #}
            <br/>

            <div class="form-group">
                <label>Nome do utente</label>
                <input class="form-control" disabled="disabled" value="{{ '{{entity.name}}' }}" />
                <input class="form-control" 
                       disabled="disabled" 
                        value="{{ '{{entity.phone}} / {{entity.email}}' }}" />
            </div>

            <div class="form-group">
                <label>Nome da entidade</label>
                <input class="form-control" disabled="disabled" value="{{ '{{entity.opName}}' }}" />
                <input class="form-control" 
                       disabled="disabled" 
                        value="{{ '{{entity.opPhone}} / {{entity.opEmail}}' }}" />
            </div>

            <div class="form-group">
                <label>Date</label>
                <input class="form-control" 
                       disabled="disabled" 
                       value="{{ '{{entity.factDate.date}}' }}" />
            </div>

            <div class="form-group">
                <label>Queixa</label>
                <textarea value="{{'{{entity.factDetail}}'}}"
                       disabled="disabled" 
                    class="form-control"
                    rows="5" placeholder="..."></textarea>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
