<div class="col-md-2">
    <div class="small-box bg-green">
        <div class="inner">
            <h3>{{counters['queixa'][0]['count']}}</h3>
            <p> </p>
        </div>
        <div class="icon">
            {# <i class="fa fa-check"></i> #}
        </div>
        <a href="#" class="small-box-footer">
            Queixas
        </a>
    </div>
</div>

<div class="col-md-2">
    <div class="small-box bg-green">
        <div class="inner">
            <h3>{{counters['denuncia'][0]['count']}}</h3>
            <p> </p>
        </div>
        <div class="icon">
            {# <i class="fa fa-check"></i> #}
        </div>
        <a href="#" class="small-box-footer">
            Denuncias
        </a>
    </div>
</div>

<div class="col-md-2">
    <div class="small-box bg-aqua">
        <div class="inner">
            <h3>{{counters['reclamacao_interna'][0]['count']}}</h3>
            <p> </p>
        </div>
        <div class="icon">
            {# <i class="fa fa-thumbs-up"></i> #}
        </div>
        <a href="#" class="small-box-footer">
            Reclamações interna
        </a>
    </div>
</div>

<div class="col-md-2">
    <div class="small-box bg-red">
        <div class="inner">
            <h3>{{counters['reclamacao'][0]['count']}}</h3>
            <p> </p>
        </div>
        <div class="icon">
            {# <i class="fa fa-thumbs-down"></i> #}
        </div>
        <a href="#" class="small-box-footer">
            Reclamações externa
        </a>
    </div>
</div>

<div class="col-md-3">
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3>{{counters['sugestao'][0]['count']}}</h3>
            <p> </p>
        </div>
        <div class="icon">
            {# <i class="fa fa-clock-o"></i> #}
        </div>
        <a href="#" class="small-box-footer">
            Sugestao
        </a>
    </div>
</div>
