{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block content %}
    <div ng-controller="StatisticsController">
        {# counters #}
        <div class="row">
            {{ include('BackendBundle:Stats:counters.html.twig') }}
        </div>

        {# graphs #}
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <div id="pieChart"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <div id="graph3"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <div id="graph4"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <div id="graph5"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box">
                    <div class="">
                    </div>
                    <div class="box-body no-padding">
                        <div id="by_department"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


{% block jsCode %}
<script>
    $(document).ready(function (){
        function renderBar(xtitle, ytitle, subtitle, container, keys, series) {
            Highcharts.chart(container, {
                chart: {
                    type: 'column'
                },
                title: {
                    text: xtitle
                },
                subtitle: {
                    text: subtitle
                },
                xAxis: {
                    categories: keys,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ytitle
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.0f} '+ytitle+'</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.3,
                        borderWidth: 0
                    }
                },
                series: series
            });        
        }

        // Build the chart
        Highcharts.chart('pieChart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Quantidade de ocorrência por tipo'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        },
                        connectorColor: 'silver'
                    }
                }
            },
            series: [{
                name: 'Brands',
                data: [
                    { 
                        name: 'Denuncias', 
                        y: {{pie['denuncia']}},
                    },
                    {
                        name: 'Queixas',
                        y: {{pie['queixa']}},
                    },
                    {
                        name: 'Sugestao',
                        y: {{pie['sugestao']}},
                    },
                    { 
                        name: 'Reclamacao Externas', 
                        y: {{pie['reclamacao']}},
                    },
                    { 
                        name: 'Reclamacao Internas', 
                        y: {{pie['reclamacao_interna']}},
                    },
                ]
            }]
        });

        function renderThirdPartyOccurences() {
            var render = [
                {
                    name: "Denúncias",
                    data: [{{thirdy_party['denuncia']}}]
                },
                {
                    name: "Queixas",
                    data: [{{thirdy_party['queixa']}}]
                },
                {
                    name: "Reclamações externas",
                    data: [{{thirdy_party['reclamacao']}}]
                },
                {
                    name: "Sugestões",
                    data: [{{thirdy_party['sugestao']}}]
                },
            ];

            renderBar('Números de ocorrências por competência de terceiros',
                'Ocorrencias',
                '',
                'graph5',
                ["Ocorrencias"],
                render
            ); 
        }

        renderThirdPartyOccurences();
        /* Highcharts.chart('responseTime', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Tempo de resposta por direcao'
            },
            xAxis: {
                categories: ['DENÚNCIAS', 'QUEIXAS', 'RECLAMAÇÕES']
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: [{
                name: 'D1',
                data: [11, 10, 12]
            }, {
                name: 'D2',
                data: [21, 21, 31]
            }, {
                name: 'D3',
                data: [31, 42, 42]
            }, {
                name: 'D4',
                data: [31, 42, 42]
            }]
        }); */
    });
</script>
{% endblock %}