{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block content -%}

<div class="row" ng-controller="AcompanhamentoController">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Acompanhamento de Queixas/Denuncias</h3>
            </div>
            <!-- /.box-header -->

            <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-striped" style="margin-bottom:70px">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Tipo</th>
                            <th>Responsável</th>
                            <th>Data</th>
                            <th>Utente</th>
                            <th>Contato do utente</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in objects %}
                            <tr id="row-{{entity.id}}">
                                <td>
                                    <a href="{{ path('administration_Complaint_show', { 'id': entity.id }) }}">
                                        {{ entity.objCode }}
                                    </a>
                                </td>
                                <td>
                                    {% if entity.type == 'queixa' %}
                                        Queixa
                                    {% else %}
                                        Denuncia
                                    {% endif %}
                                </td>
                                <td>{{ entity.createdBy.name }}/{{ entity.createdBy.entity.name }}</td>
                                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.phone ~ '/' }} {{entity.email}}</td>
                                <td>
                                    <span id="row-{{entity.id}}-no-comp" 
                                        style="display:none" 
                                        class="label label-warning">
                                        Sem competencia
                                    </span>

                                    {% if entity.parCode %}
                                        <a href="{{ path('administration_Complaint_parecer', {'id': entity.id}) }}" target="_blank">
                                            <span class="label label-success" style="display:inline">
                                                Parecer ({{entity.parCode}})
                                            </span>
                                        </a>
                                    {% endif %}

                                    {% if entity.parCode %}
                                        <div class="dropdown" style="display: inline">
                                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Responder
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="min-width: 120px;">
                                                <li>
                                                    <a href="#" ng-click="acceptObj({id:{{entity.id}}})">Responder</a>                                        
                                                </li>

                                                <li>
                                                    <a href="#" ng-click="acceptObj({id:{{entity.id}}})">Sem resposta</a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% else %}
                                        <div class="dropdown" style="display: inline" id="row-{{entity.id}}-dispatch">
                                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Despachar
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="min-width: 120px;">
                                                <li>
                                                    <a href="#" ng-click="acceptObj({
                                                        id:{{entity.id}}, 
                                                        code:'{{entity.objCode}}',
                                                        name:'{{entity.name}}',
                                                        email:'{{entity.email}}',
                                                        phone:'{{entity.phone}}',
                                                    })">Favor&aacute;vel</a>                                        
                                                </li>
                                                <li >
                                                    <a href="#" ng-click="rejectObj({
                                                        id:{{entity.id}}, 
                                                        code:'{{entity.objCode}}',
                                                        name:'{{entity.name}}',
                                                        email:'{{entity.email}}',
                                                        phone:'{{entity.phone}}',
                                                        })">N&atilde;o Favor&aacute;vel</a>
                                                </li>
                                                <li >
                                                    <a href="#" ng-click="markAsNoCompetence('{{entity.objCode}}',{{entity.id}})">Sem compet&ecirc;ncia</a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="#" ng-click="viewComplaint({{entity.id}})"
                                        title="Visualizar">
                                        <span class="text-warning fa fa-eye"></span>
                                    </a>
{#  
                                    <a href="{{ path('administration_Complaint_edit', { 'id': entity.id }) }}"
                                        title="Editar">
                                        <span class="text-warning fa fa-edit"></span>
                                    </a> #}
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>

                {{ include('BackendBundle:Complaint:modals/viewComplaint.html.twig') }}
                <div class="modal fade" id="rejectModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header bg-red">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Rejeitar Queixa/Denuncia</h4>
                        </div>
                        <form ng-submit="rejectSubmit()" name="rejectForm">
                            <div class="modal-body">
                                <h4>
                                    <a href="#">{{ '{{complaint.code}}' }}</a>
                                </h4>
                                <div class="form-group">
                                    <label>Nome do utente</label>
                                    <input class="form-control" disabled="disabled" value="{{ '{{mObject.name}}' }}" />
                                </div>
                                <div class="form-group">
                                    <label>Telefone</label>
                                    <input class="form-control" disabled="disabled" value="{{ '{{mObject.phone}}' }}" />
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" disabled="disabled" value="{{ '{{mObject.email}}' }}" />
                                </div>

                                <label><span style="color:orangered">*</span> Motivo da rejeita </label>
                                <textarea ng-model="rejectForm.response" 
                                    required
                                    class="form-control"
                                    rows="7"
                                    placeholder="..."></textarea>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-success">Enviar formul&aacute;rio</button>
                            </div>
                        </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

{% endblock %}
