{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block content -%}

<div class="row" ng-controller="TratamentoController">
    <div class="col-xs-12">
        {# 
            <button class="btn btn-default" type="button">Registar reclamacao externa/sugestao</button>
            <button class="btn btn-default" type="button">Registar reclamacao interna</button> 
        #}

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Tratamento de Queixas/Denuncias</h3>
            </div>
            <!-- /.box-header -->

            <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-striped" style="margin-bottom:70px">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Responsável</th>
                            <th>Data</th>
                            <th>Data Prevista de resposta</th>
                            <th>Utente</th>
                            <th>Contato do utente</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for idx,entity in objects %}
                            <tr id="row-{{entity.id}}">
                                <td>
                                    <a href="{{ path('administration_Complaint_show', { 'id': entity.id }) }}">
                                        {{ entity.objCode }}
                                    </a>
                                </td>
                                <td>{{ entity.createdBy.name }}/{{ entity.createdBy.entity.name }}</td>
                                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.phone ~ '/' }} {{entity.email}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Parecer
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="min-width: 120px;">
                                            <li>
                                                <a href="#" ng-click="respondObj({id:{{entity.id}}, name:'{{entity.name}}', phone:'{{entity.phone}}', email:'{{entity.email}}', code:'{{ entity.objCode }}'})">
                                                    T&eacute;nico
                                                </a>
                                            </li>
                                            <li >
                                                <a href="#" ng-click="noResponseObj({id:{{entity.id}}, name:'{{entity.name}}', phone:'{{entity.phone}}', email:'{{entity.email}}', code:'{{ entity.objCode }}'})">
                                                    Cient&iacute;fico
                                                </a>
                                            </li>
                                        </ul>
                                    </div>    
                                    <span class="fa fa-eyes"></span>                            
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="modal fade" id="respondModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header bg-green">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Responder ao utente</h4>
                        </div>
                        <form ng-submit="respondSubmit()" name="responseForm">
                        <div class="modal-body">
                            <h4>
                                <a href="#">{{ '{{mObject.code}}' }}</a>
                            </h4>
                            <div class="form-group">
                                <label>Nome do utente</label>
                                <input class="form-control" disabled="disabled" value="{{ '{{mObject.name}}' }}" />
                            </div>
                            <div class="form-group">
                                <label>Telefone</label>
                                <input class="form-control" disabled="disabled" value="{{ '{{mObject.phone}}' }}" />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" disabled="disabled" value="{{ '{{mObject.email}}' }}" />
                            </div>

                            <label>Resposta para o utente (<span style="color:orangered">*</span>)</label>
                            <textarea ng-model="responseForm.response" 
                                required
                                class="form-control"
                                rows="7"
                                placeholder="..."></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Enviar formul&aacute;rio</button>
                        </div>
                        </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

{% endblock %}
