<div class="col-md-5">
    <div class="form-group">
        <label>Selecionar perfil</label>
        <select class="form-control" ng-model="profileAdd" required
                ng-change="profileChanged(profileAdd)">
            {% for p in profiles %}
                <option id="profile-{{p.id}}" 
                        ng-click="ativateProfile({{p.id}}, '{{p.name}}')"
                        value="{{p.id}}">{{ p.name|capitalize }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Selecionar permiss&atilde;o</label>
        <select class="form-control" ng-model="permissionAdd" required>
            {% for p in permissions %}
                <option id="perm-{{p['code']}}" 
                        data-label="{{p['label']}}" 
                        value="{{p['code']}}">{{p['label']}}</option>
            {% endfor %}
        </select>
    </div>

    <button class="btn btn-success" 
            ng-click="addPermission(profileId, permissionAdd)"
            ng-disabled="!profileId || !permissionAdd ">
        <span class="fa fa-plus"></span> Adicionar
    </button>
</div>


<div class="col-md-6">
    <label>Permiss&otilde;es associadas</label>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="p in permissions">
            {{ '{{p.permissionLabel}}' }}
            <a href="#" class="text-danger pull-right" ng-click="removePermission(p.id, $index)">
                <span class="fa fa-remove"></span>
            </a>
        </li>

        <li class="list-group-item" ng-if="permissions.length == 0 && !isLoading">
            Sem permiss&otilde;es associados.
        </li>

        <li class="list-group-item alert-warning" ng-if="isLoading">
            Carregando...
        </li>
    </ul>
</div>

