<div class="col-md-5">
    <div class="form-group">
        <label>Perfil</label>
        <ul class="list-group">
            {% for p in profiles %}
                <li class="list-group-item">
                    <a href="#" ng-click="ativateProfile({{p.id}}, '{{p.name}}')">
                        <span>{{ p.name|capitalize }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <nav>
            <ul class="pagination">
                <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">5</a></li>
                <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="col-md-6">
    <label>Associar permiss&atilde;o</label>
    <div class="form-group">
        <select class="form-control" ng-model="permissionAdd">
            {% for p in permissions %}
                <option id="perm-{{p['code']}}" 
                        data-label="{{p['label']}}" 
                        value="{{p['code']}}">{{p['label']}}</option>
            {% endfor %}
        </select>

        <button class="btn btn-success" 
                ng-click="addPermission(profileId, permissionAdd)"
                ng-disabled="!profileId || !permissionAdd ">
            <span class="fa fa-plus"></span>
        </button>
    </div>
</div>

<div class="col-md-6">
    <label>Permiss&otilde;es associadas</label>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="p in permissions">
            {{ '{{p.permissionLabel}}' }}
            <a href="#" class="text-danger pull-right" ng-click="removePermission(p.id, $index)">
                <span class="fa fa-remove"></span>
            </a>
        </li>

        <li class="list-group-item" ng-if="permissions.length == 0">
            Sem permiss&otilde;es associados.
        </li>
    </ul>
</div>

