{% extends 'BackendBundle:Default:docs.html.twig' %}

{% block content -%}
    {% image '@BackendBundle/Resources/public/img/arfa.jpg' %}
        <img src="{{ asset_url }}" 
             class="user-image" 
             width="180" 
             alt="User Image!" 
        />
    {% endimage %}

    <center>
        <h3 class="box-title" style="font-weight:bold">
            Recibo de Reclamação Interna
        </h3>

        <h3>
            <a href="#">
                #{{ entity.objCode }}            
            </a>
        </h3>
    </center>

    <table class="table table-hover table-striped" style="margin-bottom:70px">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Reclamação Interna
                </td>
                <td>#{{ entity.objCode }}</td>
            </tr>

            <tr>
                <td>Data da ocorrencia</td>
                <td>
                    {{ entity.factDate|date('Y-m-d') }}
                </td>
            </tr>

            <tr>
                <td>Utente</td>
                <td>
                    {{ entity.name }}<br/>
                </td>
            </tr>

            <tr>
                <td>Dirreção</td>
                <td>
                    {{ entity.direction }}<br/>
                </td>
            </tr>
        </tbody>
    </table>

    <h4>Descrição sumária</h4>
    <div class="well">
        {{entity.factDetail}}
    </div>

    <div style="margin-top:70px;">
        <p style="font-size:12px;color:gray">
            <span class="fa fa-user"></span>
            Criada por {{entity.createdBy.name}}/{{entity.createdBy.entity.name}}
        </p>
    </div>

    <button id="printMe" class="btn btn-primary hidden-print">
        Imprimir
    </button>
{% endblock %}

{% block jsCode -%}
    <script>
        $("#printMe").click(function () {
            window.print();
        })
    </script>
{% endblock %}
