<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
     <ul class="sidebar-menu">
        <li class="header">ADMINISTRA&Ccedil;&Atilde;O</li>
        <li>
            <a href="{{ path('administration_course') }}">
              <i class="fa fa-circle-o text-gray"></i> <span>Cursos</span></a>
        </li>
        <li>
            <a href="{{ path('administration_klass') }}">
              <i class="fa fa-circle-o text-gray"></i> <span>Turmas</span></a>
        </li>
        <li>
            <a href="{{ path('administration_classroom') }}">
              <i class="fa fa-circle-o text-gray"></i> <span>Salas</span></a>
        </li>
        <li>
            <a href="{{ path('administration_category') }}">
              <i class="fa fa-circle-o text-gray"></i> <span>Categorias</span></a>
        </li>
        <li>
            <a href="{{ path('administration_discipline') }}">
              <i class="fa fa-circle-o text-gray"></i> <span>Disciplinas</span>
            </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>