<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
     <ul class="sidebar-menu">
        <!-- Administracao -->
        <li class="header active" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-green">
                <i class="fa fa-cog"></i>
                <span>ADMINISTRA&Ccedil;&Atilde;O</span>
            </a>

            <ul class="treeview-menu" style="display: none">
                <li>
                    <a href="{{ path('backend_administration_main') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>Gestao de acesso</span></a>
                </li>
                <li>
                    <a href="{{ path('administration_Module') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>M&oacute;dulos</span></a>
                </li>
            </ul>
        </li>

        <!-- Queixas/Denuncias -->
        <li class="header active tree-view" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-green">
                <i class="fa fa-cog"></i>
                GEST&Atilde;O DE QUEIXAS/DEN&Uacute;NCIAS
            </a>

            <ul class="treeview-menu" style="">
                <li>
                    <a href="{{ path('administration_Complaint_new') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Registrar Queixa/Denuncia</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('administration_Complaint') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Listagem Queixa/Denuncia</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_category') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Acompanhar Queixa/Denuncia</span></a>
                </li>
                <li>
                    <a href="{{ path('administration_category') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Tratar Queixa/Denuncia</span></a>
                </li>
                <li>
                    <a href="{{ path('administration_category') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Responder utente</span></a>
                </li>
            </ul>
        </li>
        
        <!-- Reclamacoes/sugestoes -->
        <li class="header active" style="padding:0px;">
            <a href="{{ path('administration_Sugestion') }}" class="bg-green">
                <i class="fa fa-cog"></i>
                GEST&Atilde;O DE RECLAMA&Ccedil;&Otilde;ES/SUGESTAO
            </a>

            <ul class="treeview-menu" style="">
                <li>
                    <a href="{{ path('administration_Sugestion_new') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Registrar Reclamacao</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('administration_Sugestion') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Listagem Reclamacao</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_category') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Acompanhar Reclamacao</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_category') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Tratar Reclamacao</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_category') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Responder utente</span></a>
                </li>
            </ul>            
        </li>

        <!-- N conformidades -->
        <li class="header active" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-green">
                <i class="fa fa-cog"></i>
                N&Atilde;O CONFORMIDADES
            </a>
        </li>

        <!-- Estatistica -->
        <li class="header active" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-green">
                <i class="fa fa-cog"></i>
                ESTAT&Iacute;STICA                
            </a>

            <ul class="treeview-menu" style="display: none;">
                <li>
                    <a href="{{ path('administration_category') }}">
                        <i class="fa fa-circle-o text-gray"></i> <span>Relatorio mensal</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('administration_category') }}">
                        <i class="fa fa-circle-o text-gray"></i> <span>Relatorio di&aacute;rio</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('administration_category') }}">
                        <i class="fa fa-circle-o text-gray"></i> <span>Relatorio de tempo de resposta</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('administration_category') }}">
                        <i class="fa fa-circle-o text-gray"></i> <span>Relatorio de n&atilde;o conformidade</span>
                    </a>
                </li>
            </ul>            
        </li>

        <!-- Parametrizacao -->
        <li class="header active" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-green">
                <i class="fa fa-cog"></i>
                PARAMETRIZA&Ccedil;&Atilde;O
            </a>

            <ul class="treeview-menu" style="display: none">
                {# <li>
                    <a href="{{ path('administration_Profile') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>Perfis</span></a>
                </li> #}

                <li>
                    <a href="{{ path('administration_Stage') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>Etapas</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_user') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>Servi&ccedil;os</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_Document') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>Documentos</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_user') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>Morada/Localidade</span></a>
                </li>
            </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>