<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
     <ul class="sidebar-menu">
        <li class="header active" style="padding:0px;">
            <a href="{{ path('sga_dashboard') }}" class="bg-green">
                <i class="fa fa-cog"></i>
                <span>MENU INICIAL</span>
            </a>
        </li>

        {#  Administracao #}
        <li class="header" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-green">
                <i class="fa fa-cog"></i>
                <span>ADMINISTRA&Ccedil;&Atilde;O</span>
            </a>

            <ul class="treeview-menu" style="display: none">
                <li>
                    <a href="{{ path('backend_administration_main') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>Gestao de acesso</span></a>
                </li>
                <li>
                    <a href="{{ path('administration_Module') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>M&oacute;dulos</span></a>
                </li>
            </ul>
        </li>

        {#  Parametrizacao #}
        <li class="header" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-green">
                <i class="fa fa-cog"></i>
                PARAMETRIZA&Ccedil;&Atilde;O
            </a>

            <ul class="treeview-menu" style="display: none">
                {# <li>
                    <a href="{{ path('administration_Profile') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>Perfis</span></a>
                </li> #}

                <li>
                    <a href="{{ path('administration_Stage') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>Etapas</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_entities') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>Departamentos</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_Document') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>Documentos</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_user') }}">
                    <i class="fa fa-circle-o text-gray"></i>
                    <span>Morada/Localidade</span></a>
                </li>
            </ul>
        </li>

        {# Queixas/Denuncias #}
        <li class="header tree-view" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-green">
                <i class="fa fa-cog"></i>
                GEST&Atilde;O DE QUEIXAS/DEN&Uacute;NCIAS
            </a>

            <ul class="treeview-menu" style="">
                <li>
                    <a href="{{ path('administration_Complaint_new') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Registo</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('administration_Complaint') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Listagem</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_Complaint_bystate', {'state' : 'acompanhamento'}) }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Acompanhamento</span></a>
                </li>
                <li>
                    <a href="{{ path('administration_Complaint_bystate', {'state' : 'tratamento'}) }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Tratamento</span></a>
                </li>
                <li>
                    <a href="{{ path('administration_Complaint_bystate', {'state' : 'respondido'}) }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Arquivo de respostas</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_Complaint_bystate', {'state' : 'sem_resposta'}) }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Arquivo sem resposta</span></a>
                </li>
            </ul>
        </li>

        {# Reclamacoes/sugestoes #}
        <li class="header" style="padding:0px;">
            <a href="{{ path('administration_Sugestion') }}" class="bg-green">
                <i class="fa fa-cog"></i>
                GEST&Atilde;O DE RECLAMA&Ccedil;&Otilde;ES/SUGESTAO
            </a>

            <ul class="treeview-menu" style="">
                <li>
                    <a href="{{ path('administration_Sugestion_new') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Registo</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('administration_Sugestion') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Listagem</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_Sugestion_byState', {'state' : 'acompanhamento'})  }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Acompanhamento</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_Sugestion_byState', {'state' : 'tratamento'}) }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Tratamento</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_Sugestion_byState', {'state' : 'respondido'})  }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Arquivo de respostas</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_Sugestion_byState', {'state' : 'sem_resposta'})  }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Arquivo sem resposta</span></a>
                </li>
            </ul>            
        </li>

        {# N conformidades  #}
        <li class="header" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-green">
                <i class="fa fa-cog"></i>
                GEST&Atilde;O DE RECLAMA&Ccedil;&Atilde;O INTERNA
            </a>

            <ul class="treeview-menu" style="">
                <li>
                    <a href="{{ path('administration_IReclamation_new') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Registo (Director)</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('administration_IReclamation') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Listagem</span></a>
                </li>
                
                <li>
                    <a href="{{ path('administration_IReclamation') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Acompanhamento (Nao conformidade NC)</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_IReclamation') }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Arquivo</span></a>
                </li>
                {# <li>
                    <a href="{{ path('administration_Sugestion_byState', {'state' : 'acompanhamento'})  }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Acompanhamento</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_Sugestion_byState', {'state' : 'tratamento'}) }}">
                    <i class="fa fa-circle-o text-gray"></i> <span>Tratamento</span></a>
                </li> #}
            </ul> 
        </li>

        {# N conformidades  #}
        <li class="header" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-green" style="text-transform: uppercase"> {# lazy #}
                <i class="fa fa-cog"></i>
                Livro de reclama&ccedil;&otilde;es
            </a>
        </li>

        {# N conformidades  #}
        <li class="header" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-green">
                <i class="fa fa-cog"></i>
                N&Atilde;O CONFORMIDADES
            </a>
        </li>

        {#  Estatistica #}
        <li class="header" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-green">
                <i class="fa fa-cog"></i>
                ESTAT&Iacute;STICA                
            </a>

            <ul class="treeview-menu" style="display: none;">
                <li>
                    <a href="{{ path('backend_administration_stats') }}">
                        <i class="fa fa-circle-o text-gray"></i> <span>Relatorio mensal</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('backend_administration_stats') }}">
                        <i class="fa fa-circle-o text-gray"></i> <span>Relatorio di&aacute;rio</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('backend_administration_stats') }}">
                        <i class="fa fa-circle-o text-gray"></i> <span>Relatorio de tempo de resposta</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('backend_administration_stats') }}">
                        <i class="fa fa-circle-o text-gray"></i> <span>Relatorio de n&atilde;o conformidade</span>
                    </a>
                </li>
            </ul>            
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>