<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
     <ul class="sidebar-menu">
        <li class="header active" style="padding:0px;">
            <a href="{{ path('sga_dashboard') }}" class="bg-999">
                <i class="fa fa-cog"></i>
                <span>
                    MENU INICIAL
                </span>
            </a>
        </li>

        {#  Administracao #}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="header" style="padding:0px;">
                <a href="javascript:void(0)" class="bg-999">
                    <i class="fa fa-cog"></i>
                    <span>ADMINISTRA&Ccedil;&Atilde;O</span>
                </a>

                <ul class="treeview-menu" style="display: none">
                    <li>
                        <a href="{{ path('backend_administration_main') }}">
                        <i class="fa fa-circle-o text-gray"></i>
                        <span>Gestao de acesso</span></a>
                    </li>
                    <li>
                        <a href="{{ path('administration_Module') }}">
                        <i class="fa fa-circle-o text-gray"></i>
                        <span>M&oacute;dulos</span></a>
                    </li>

                    <li>
                        <a href="{{ path('administration_Location') }}">
                        <i class="fa fa-circle-o text-gray"></i>
                        <span>Morada/Localidade</span></a>
                    </li>
                </ul>
            </li>

            {#  Parametrizacao #}
            <li class="header" style="padding:0px;">
                <a href="javascript:void(0)" class="bg-999">
                    <i class="fa fa-cog"></i>
                    PARAMETRIZA&Ccedil;&Atilde;O
                </a>

                <ul class="treeview-menu" style="display: none">

                    <li>
                        <a href="{{ path('administration_entities') }}">
                        <i class="fa fa-circle-o text-gray"></i>
                        <span>Departamentos</span></a>
                    </li>

                    <li>
                        <a href="{{ path('administration_Document') }}">
                        <i class="fa fa-circle-o text-gray"></i>
                        <span>Anexos</span></a>
                    </li>
                </ul>
            </li>
        {% endif %}

        {# Queixas/Denuncias #}
        {% if is_granted('ROLE_ADMIN') or
              is_granted(expression('"ADMINISTRATION_COMPLAINT" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_COMPLAINT_NEW" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_COMPLAINT_ACOMP" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_COMPLAINT_TREAT" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_COMPLAINT_RESP" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_COMPLAINT_NORESP" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_COMPLAINT_NF" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_COMPLAINT_SC" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_COMPLAINT_NC" in user.getRoles()'))
        %}
            <li class="header tree-view" style="padding:0px;">
                <a href="javascript:void(0)" class="bg-999">
                    <i class="fa fa-cog"></i>
                    GEST&Atilde;O DE QUEIXAS/DEN&Uacute;NCIAS
                </a>

                <ul class="treeview-menu" style="">
                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_COMPLAINT_NEW" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Complaint_new') }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Registo</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_COMPLAINT" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Complaint') }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Listagem</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_COMPLAINT_ACOMP" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Complaint_bystate', {'state' : 'acompanhamento'}) }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Acompanhamento</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                        is_granted(expression('"ADMINISTRATION_COMPLAINT_TREAT" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Complaint_bystate', {'state' : 'tratamento'}) }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Tratamento</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                        is_granted(expression('"ADMINISTRATION_COMPLAINT_RESP" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Complaint_bystate', {'state' : 'respondido'}) }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Arquivo de respostas</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                          is_granted(expression('"ADMINISTRATION_COMPLAINT_NORESP" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Complaint_bystate', {'state' : 'sem_resposta'}) }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Arquivo sem resposta</span></a>
                        </li>
                    {% endif %}
                    
                    {% if is_granted('ROLE_ADMIN') or 
                          is_granted(expression('"ADMINISTRATION_COMPLAINT_NF" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Complaint_bystate', {'state' : 'nao_favoravel'})  }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Nao favoravel</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                          is_granted(expression('"ADMINISTRATION_COMPLAINT_SC" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Complaint_bystate', {'state' : 'sem_competencia'})  }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Competência de terceiros</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                          is_granted(expression('"ADMINISTRATION_COMPLAINT_NC" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Complaint_bystate', {'state' : 'nao_conformidade'})  }}">
                            <i class="fa fa-circle-o text-gray"></i> N&atilde;o Conformidades</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}

        {# Reclamacoes/sugestoes #}
        {% if is_granted('ROLE_ADMIN') or
              is_granted(expression('"ADMINISTRATION_SUGESTION" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_SUGESTION_NEW" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_SUGESTION_ACOMP" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_SUGESTION_TREAT" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_SUGESTION_RESP" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_SUGESTION_NORESP" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_SUGESTION_NF" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_SUGESTION_SC" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_SUGESTION_NC" in user.getRoles()'))
        %}
            <li class="header" style="padding:0px;">
                <a href="#" class="bg-999">
                    <i class="fa fa-cog"></i>
                    GEST&Atilde;O DE RECLAMA&Ccedil;&Otilde;ES EXTERNAS/SUGESTAO
                </a>

                <ul class="treeview-menu" style="">
                    {% if is_granted('ROLE_ADMIN') or 
                        is_granted(expression('"ADMINISTRATION_SUGESTION_NEW" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Sugestion_new') }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Registo</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                        is_granted(expression('"ADMINISTRATION_SUGESTION" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Sugestion') }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Listagem</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                        is_granted(expression('"ADMINISTRATION_SUGESTION_ACOMP" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Sugestion_byState', {'state' : 'acompanhamento'})  }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Acompanhamento</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                        is_granted(expression('"ADMINISTRATION_SUGESTION_TREAT" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Sugestion_byState', {'state' : 'tratamento'}) }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Tratamento</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                        is_granted(expression('"ADMINISTRATION_SUGESTION_RESP" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Sugestion_byState', {'state' : 'respondido'})  }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Arquivo de respostas</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                        is_granted(expression('"ADMINISTRATION_SUGESTION_NORESP" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Sugestion_byState', {'state' : 'sem_resposta'})  }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Arquivo sem resposta</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                        is_granted(expression('"ADMINISTRATION_SUGESTION_NF" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Sugestion_byState', {'state' : 'nao_favoravel'})  }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Não favoraveis</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                        is_granted(expression('"ADMINISTRATION_SUGESTION_SC" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Sugestion_byState', {'state' : 'sem_competencia'})  }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Competencia de terceiros</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or 
                        is_granted(expression('"ADMINISTRATION_SUGESTION_NC" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_Sugestion_byState', {'state' : 'nao_conformidade'})  }}">
                            <i class="fa fa-circle-o text-gray"></i> N&atilde;o Conformidades</a>
                        </li>
                    {% endif %}
                </ul>            
            </li>
        {% endif %}

        {# Reclamacao Interna #}
        {% if is_granted('ROLE_ADMIN') or
              is_granted(expression('"ADMINISTRATION_IRECLAMATION" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_IRECLAMATION_NEW" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_IRECLAMATION_ACOMP" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_IRECLAMATION_RESP" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_IRECLAMATION_NORESP" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_IRECLAMATION_NC" in user.getRoles()'))
        %}
            <li class="header" style="padding:0px;">
                <a href="javascript:void(0)" class="bg-999">
                    <i class="fa fa-cog"></i>
                    GEST&Atilde;O DE RECLAMA&Ccedil;&Atilde;O INTERNA
                </a>

                <ul class="treeview-menu" style="">
                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_IRECLAMATION_NEW" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_IReclamation_new') }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Registo</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_IRECLAMATION" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_IReclamation') }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Listagem</span></a>
                        </li>
                    {% endif %}

                    <li>
                        <a href="{{ path('administration_CompBook_byState', {'state' : 'acompanhamento'}) }}">
                        <i class="fa fa-circle-o text-gray"></i> <span> &gt; Análise</span></a>
                    </li>
                    <li>
                        <a href="{{ path('administration_CompBook_byState', {'state' : 'acompanhamento'}) }}">
                        <i class="fa fa-circle-o text-gray"></i> <span> &gt; Decisão</span></a>
                    </li>
                    <li>
                        <a href="{{ path('administration_CompBook_byState', {'state' : 'acompanhamento'}) }}">
                        <i class="fa fa-circle-o text-gray"></i> <span> &gt; Ação</span></a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_IRECLAMATION_ACOMP" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_IReclamation_byState', {'state' : 'acompanhamento'})  }}">
                                <i class="fa fa-circle-o text-gray"></i> <span>Acompanhamento</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_IRECLAMATION_RESP" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_IReclamation_byState', {'state' : 'respondido'})  }}">
                                <i class="fa fa-circle-o text-gray"></i> <span>Arquivo de resposta</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_IRECLAMATION_NORESP" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_IReclamation_byState', {'state' : 'sem_resposta'})  }}">
                                <i class="fa fa-circle-o text-gray"></i> <span>Arquivo sem resposta</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_IRECLAMATION_NC" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_IReclamation_byState', {'state' : 'nao_conformidade'})  }}">
                                <i class="fa fa-circle-o text-gray"></i> N&atilde;o Conformidades
                            </a>
                        </li>
                    {% endif %}
                </ul> 
            </li>
        {% endif %}

        {# Livro de reclamacao  #}
        {% if is_granted('ROLE_ADMIN') or
              is_granted(expression('"ADMINISTRATION_COMPBOOK" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_COMPBOOK_NEW" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_COMPBOOK_ACOMP" in user.getRoles()')) or
              is_granted(expression('"ADMINISTRATION_COMPBOOK_NC" in user.getRoles()'))
        %}
            <li class="header" style="padding:0px;">
                <a href="javascript:void(0)" class="bg-999" style="text-transform: uppercase"> {# lazy #}
                    <i class="fa fa-cog"></i>
                    Livro de reclama&ccedil;&otilde;es
                </a>

                <ul class="treeview-menu" style="">
                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_COMPBOOK_NEW" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_CompBook_new') }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Registo</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_COMPBOOK" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_CompBook') }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Listagem</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_COMPBOOK_ACOMP" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_CompBook_byState', {'state' : 'acompanhamento'}) }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Acompanhamento</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_COMPBOOK_NC" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_CompBook_byState', {'state' : 'respondido'}) }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>Arquivo de respostas</span></a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted(expression('"ADMINISTRATION_COMPBOOK_NC" in user.getRoles()')) %}
                        <li>
                            <a href="{{ path('administration_CompBook_byState', {'state' : 'nao_conformidade'}) }}">
                            <i class="fa fa-circle-o text-gray"></i> <span>N&atilde;o Conformidades</span></a>
                        </li>
                    {% endif %}
                </ul> 
            </li>
        {% endif %}

        {#  Estatistica #}
        {% if is_granted('ROLE_ADMIN') or 
              is_granted(expression('"BACKEND_ADMINISTRATION_STATS" in user.getRoles()')) %}
            <li class="header" style="padding:0px;">
                <a href="{{ path('backend_administration_stats') }}" class="bg-999">
                    <i class="fa fa-cog"></i>
                    ESTAT&Iacute;STICA                
                </a>
            </li>
        {% endif %}

        {#  NÃO CONFORMIDADES #}
        {# {% if is_granted('ROLE_ADMIN') or 
              is_granted(expression('"ADMINISTRATION_CORRECTION" in user.getRoles()')) %}
            <li class="header" style="padding:0px;">
                <a href="{{ path('administration_Correction') }}" class="bg-999">
                    <i class="fa fa-cog"></i>
                    <span>NÃO CONFORMIDADES</span>
                </a>
            </li>
        {% endif %} #}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
