<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <ul class="sidebar-menu">
        <li class="header {{ app.request.attributes.get("_route") == 'sga_dashboard' ? 'active' : '' }}" style="padding:0px;">
            <a href="{{ path('sga_dashboard') }}" class="bg-norm" style="font-weight: bold">
                <i>
                <img src="{{ asset('icons/home.svg') }}" width="27" />
                </i>
                <span>HOME</span>
            </a>
        </li>

        {#  Administracao / Parametrizacao #}
        {% if is_granted('ROLE_ADMIN') or is_granted(expression('"BACKEND_ADMINISTRATION_MAIN" in user.getRoles()'))  %}
            <li class="header {{ app.request.attributes.get("_route") == 'backend_administration_main' ? 'active' : '' }}" style="padding:0px;">
                <a href="javascript:void(0)" class="bg-norm" style="font-weight: bold">
                    <img src="{{ asset('icons/admin.svg') }}" width="25" />
                    <span>ADMINISTRA&Ccedil;&Atilde;O</span>
                </a>

                <ul class="treeview-menu {{ app.request.attributes.get("_route") == 'backend_administration_main' ? 'active' : '' }}">
                    <li>
                        <a href="{{ path('backend_administration_main') }}#">
                        <svg id="meter" class="circle-html5" 
                            fill={{ app.request.attributes.get("_route") == 'backend_administration_main' ? '#00a65a' : '#ccc' }}>
                            <circle r="4" cx="50%" cy="50%"></circle>
                        </svg>
                        {# <span>{{ app.request.attributes.get("_route") }}</span> #}
                        <span>Gest&atilde;o de Acesso</span></a>
                    </li>
                </ul>
            </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') 
            or is_granted(expression('"ADMINISTRATION_ENTITIES" in user.getRoles()'))
            or is_granted(expression('"ADMINISTRATION_DOCUMENT" in user.getRoles()'))  %}
            <li class="header {{ app.request.attributes.get("_route") == 'administration_entities' or 
                                 app.request.attributes.get("_route") == 'administration_Document'
                                ? 'active' : '' }}" style="padding:0px;">
                <a href="javascript:void(0)" class="bg-norm" style="font-weight: bold">
                    <img src="{{ asset('icons/param.svg') }}" width="25" />
                    PARAMETRIZA&Ccedil;&Atilde;O
                </a>

                <ul class="treeview-menu active">
                    {% if is_granted('ROLE_ADMIN') 
                        or is_granted(expression('"ADMINISTRATION_ENTITIES" in user.getRoles()')) 
                    %}
                        <li>
                            <a href="{{ path('administration_entities') }}">
                                <svg id="meter" class="circle-html5" 
                                    fill={{ app.request.attributes.get("_route") == 'administration_entities' ? '#00a65a' : '#ccc' }}>
                                    <circle r="4" cx="50%" cy="50%"></circle>
                                </svg>
                                <span>Departamentos</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') 
                        or is_granted(expression('"ADMINISTRATION_DOCUMENT" in user.getRoles()')) 
                    %}
                        <li>
                            <a href="{{ path('administration_Document') }}">
                                <svg id="meter" class="circle-html5" 
                                    fill={{ app.request.attributes.get("_route") == 'administration_Document' ? '#00a65a' : '#ccc' }}>
                                    <circle r="4" cx="50%" cy="50%"></circle>
                                </svg>
                                <span>Anexos</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}

        <li class="header tree-view" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-norm" style="text-transform: uppercase;font-weight: bold"> {# lazy #}
                <img src="{{ asset('icons/compbook.svg') }}" width="25" />
                Gest&atilde;o de Não Conformidades
            </a>

            <ul class="treeview-menu" style="">
                <li>
                    <a href="{{ path('backend_administration_nc') }}">
                        <svg id="meter" class="circle-html5" 
                            fill={{ app.request.attributes.get("_route") == 'backend_administration_nc_listing' ? '#00a65a' : '#ccc' }}>
                            <circle r="4" cx="50%" cy="50%"></circle>
                        </svg>
                        <span>Controlo de Não Conformidades</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('backend_administration_nc') }}">
                    <svg id="meter" class="circle-html5" 
                        fill={{ app.request.attributes.get("_route") == 'backend_administration_nc_listing' ? '#00a65a' : '#ccc' }}>
                        <circle r="4" cx="50%" cy="50%"></circle>
                    </svg>
                    <span>Listagem</span></a>
                </li>
            </ul> 
        </li>

        <li class="header tree-view" style="padding:0px;">
            <a href="javascript:void(0)" class="bg-norm" style="text-transform: uppercase;font-weight: bold"> {# lazy #}
                <img src="{{ asset('icons/compbook.svg') }}" width="25" />
                Gest&atilde;o de Ac&ccedil;&otilde;es Corretivas e Preventivas
            </a>

            <ul class="treeview-menu" style="">
                <li>
                    <a href="{{ path('administration_Correction_new') }}">
                        <svg id="meter" class="circle-html5" 
                            fill={{ app.request.attributes.get("_route") == 'administration_CompBook_new' ? '#00a65a' : '#ccc' }}>
                            <circle r="4" cx="50%" cy="50%"></circle>
                        </svg>
                        <span>Registo</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('administration_Correction') }}">
                    <svg id="meter" class="circle-html5" 
                        fill={{ app.request.attributes.get("_route") == 'administration_CompBook' ? '#00a65a' : '#ccc' }}>
                        <circle r="4" cx="50%" cy="50%"></circle>
                    </svg>
                    <span>Listagem</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_Correction') }}">
                    <svg id="meter" class="circle-html5" 
                        fill={{ app.request.attributes.get("_route") == 'administration_CompBook' ? '#00a65a' : '#ccc' }}>
                        <circle r="4" cx="50%" cy="50%"></circle>
                    </svg>
                    <span>An&aacute;lise das causas</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_Correction') }}">
                    <svg id="meter" class="circle-html5" 
                        fill={{ app.request.attributes.get("_route") == 'administration_CompBook' ? '#00a65a' : '#ccc' }}>
                        <circle r="4" cx="50%" cy="50%"></circle>
                    </svg>
                    <span>Ac&ccedil;&otilde;es a implementar</span></a>
                </li>

                <li>
                    <a href="{{ path('administration_Correction') }}">
                    <svg id="meter" class="circle-html5" 
                        fill={{ app.request.attributes.get("_route") == 'administration_CompBook' ? '#00a65a' : '#ccc' }}>
                        <circle r="4" cx="50%" cy="50%"></circle>
                    </svg>
                    <span>Avalia&ccedil;&otilde;es da Edifc&aacute;cia</span></a>
                </li>
            </ul> 
        </li>

        {#  Estatistica #}
        {% if is_granted('ROLE_ADMIN') or 
            is_granted(expression('"BACKEND_ADMINISTRATION_STATS" in user.getRoles()')) %}
            <li class="header" style="padding:0px;">
                <a href="{{ path('backend_administration_stats') }}" style="font-weight: bold" class="bg-norm">
                    <img src="{{ asset('icons/statistics.svg') }}" width="25" />
                    RELAT&Oacute;RIO ESTAT&Iacute;STICO
                </a>
            </li>
        {% endif %}

        <li style="padding:0px;">
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->


  </aside>
