{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block content -%}

<div class="row" ng-controller="AcompanhamentoController">
    <div class="col-xs-12" ng-init="setType('Sugestion'); setLabel('Sugestao/Reclamacao')">
        {# <button class="btn btn-default" type="button">Registar reclamacao externa/sugestao</button>
        <button class="btn btn-default" type="button">Registar reclamacao interna</button> #}

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{label}}</h3>
            </div>
            <!-- /.box-header -->

            <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-striped" style="margin-bottom:70px;">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Tipo</th>
                            <th>Responsável</th>
                            <th>Data</th>
                            <th>Utente</th>
                            <th>Contato do utente</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in objects %}
                            <tr id="row-{{entity.id}}">
                                <td>
                                    <a href="{{ path('administration_Sugestion_show', { 'id': entity.id }) }}">
                                        {{ entity.objCode }}
                                    </a>
                                </td>
                                <td>
                                    {% if entity.type == 'reclamacao' %}
                                        Reclamação
                                    {% else %}
                                        Sugestão
                                    {% endif %}
                                </td>
                                <td>
                                    {{ entity.createdBy.name }}/{{ entity.createdBy.entity.name }}
                                </td>
                                <td>
                                    {{ entity.createdAt|date('Y-m-d H:i:s') }}
                                </td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.phone ~ '/' }} {{entity.email}}</td>
                                <td>
                                    <a href="#" ng-click="viewSugestion({{entity.id}})">
                                        <span class="text-warning fa fa-eye"></span>
                                    </a>

                                    <a href="{{ path('administration_Sugestion_edit', { 'id': entity.id }) }}">
                                        <span class="text-warning fa fa-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {{ include('BackendBundle:Sugestion:modals/viewSugestion.html.twig') }}

                <div class="modal fade" id="rejectModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header bg-red">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Rejeitar Sugestão/Reclamação</h4>
                        </div>
                        <form ng-submit="rejectSubmit()" name="rejectForm">
                        <div class="modal-body">
                            <h4>
                                <a href="#">{{ '{{mObject.code}}' }}</a>
                            </h4>
                            <div class="form-group">
                                <label>Nome do utente</label>
                                <input class="form-control" disabled="disabled" value="{{ '{{mObject.name}}' }}" />
                            </div>
                            <div class="form-group">
                                <label>Telefone</label>
                                <input class="form-control" disabled="disabled" value="{{ '{{mObject.phone}}' }}" />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" disabled="disabled" value="{{ '{{mObject.email}}' }}" />
                            </div>

                            <label><span style="color:orangered">*</span> Motivo da rejeita </label>
                            <textarea ng-model="rejectForm.response" 
                                required
                                class="form-control"
                                rows="7"
                                placeholder="..."></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Enviar formul&aacute;rio</button>
                        </div>
                        </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

{% endblock %}
