{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Klass list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Createdat</th>
                <th>Schoolyear</th>
                <th>Createdby</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('administration_klass_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.schoolYear %}{{ entity.schoolYear|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.createdBy }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('administration_klass_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('administration_klass_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('administration_klass_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
